# Секретные данные
env/.env
crm-service/.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Виртуальное окружение
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Логи
*.log
logs/
.cloudflared.log
.cloudflared.err.log
